<ion-header>
  <ion-nav color="primary">
    <ion-title>My Prayers</ion-title>
  </ion-nav>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item navPush="PrayeritemPage" color="light">
      <ion-avatar item-start>
        <img src="../../assets/imgs/mwicigi.jpg">
      </ion-avatar>
      <h2>Moses Mwicigi Nganga</h2>
      <p>Family Prayers</p>
    </ion-item>

    <ion-item>

      <img navPush="PrayeritemPage" src="../../assets/imgs/mwicigi.jpg"/>
      <ion-card-content>
        <ion-card-title>
          Pray for Josh to get a job
        </ion-card-title>
          <p class="textleftwithoutpadding"> Father, I have to thank You for looking beyond my faults and for loving me unconditionally. Forgive me when I fail to love others in the same way. Give me eyes to see the needs of the difficult people in my life, and show me how to meet those needs in a way that pleases You. In Jesus’ Name, Amen.
          </p>
      </ion-card-content>
    </ion-item>


  <ion-row no-padding>
    <ion-col>
      <button ion-button clear small color="danger" icon-start>
        <ion-icon name='star'></ion-icon>
        Like
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="danger" icon-start>
        <ion-icon name='musical-notes'></ion-icon>
        comments
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="danger" icon-start>
        <ion-icon name='share-alt'></ion-icon>
        Share
      </button>
    </ion-col>
  </ion-row>
</ion-card>


    <ion-item color="partial" text-center no-lines>
      Comments
    </ion-item>

      <ion-card>
        <ion-item navPush="PrayeritemPage" color="light">
          <ion-avatar item-start>
            <img src="../../assets/imgs/mwicigi.jpg">
          </ion-avatar>
          <p>Moses Mwicigi Nganga</p>             
        </ion-item>
        <p class="textleft">Father God, my heart is filled with chaos and confusion. I feel as if I am drowning in my circumstances and my heart is filled with fear and confusion. I really need the strength and peace that only You can give. Right now, I choose to rest in You. In Jesus’ Name I pray, Amen.
        </p>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star'></ion-icon>
              Like
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='musical-notes'></ion-icon>
              comments
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-content>

    <ion-footer color="partial">
      <ion-card class="rounded">
        <ion-input color="light" type="text" placeholder="Write a comment">
        </ion-input>
      </ion-card>
    </ion-footer>
