<ion-header>
  <ion-toolbar color="primary">
    <ion-title left>My Sermon</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end navPush="NotificationPage">
        <button ion-button icon-only>
          <ion-icon name="notifications" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-content class="mybackground">
      <ion-card>
        <ion-item>
          <h2 class="headertext"><strong>{{sermon.heading}}</strong></h2>

        <!--<ion-icon item-end name='more' navPush="EditSermonPage" [navParams]="{sermon: sermon}"></ion-icon>-->
      </ion-item>

        <ion-thumbnail item-start>
        <img src="../../assets/imgs/dating.jpg">
        </ion-thumbnail>


          <ion-card-content class="textleft">
            <p><ion-icon name="contact"></ion-icon> By: {{sermon.authorname}}</p>
            <p><ion-icon name="calendar"></ion-icon> Date:  {{sermon.date1}} </p>
            <p><ion-icon name="clock"></ion-icon> Time: {{sermon.time}}</p>
            <hr/>
            <ion-row no-padding>
              <ion-col>
                <button ion-button clear small icon-start>
                  <ion-icon name='volume-up'></ion-icon>
                  PLAY
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear small icon-start navPush="SermoncommentsPage">
                  <ion-icon name='cloud-download'></ion-icon>
                  Download
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear small icon-start>
                  <ion-icon name='create'></ion-icon>
                  Notes
                </button>
              </ion-col>
            </ion-row>
            <hr/>
            <p> {{sermon.content}}</p>
          <hr/>
          </ion-card-content>


      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='heart'></ion-icon>
            Like
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small color="danger" icon-start navPush="SermoncommentsPage">
            <ion-icon name='chatboxes'></ion-icon>
            comments
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
