<ion-header>

  <ion-nav color="primary">
    <ion-title>Profile</ion-title>
  </ion-nav>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input [(ngModel)]="profile.firstname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>last Name</ion-label>
    <ion-input [(ngModel)]="profile.lastname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>User Name</ion-label>
    <ion-input [(ngModel)]="profile.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="profile.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Date of Birth:</ion-label>
    <ion-label floating>Year</ion-label>
    <ion-input [(ngModel)]="profile.year"></ion-input>
  </ion-item>
  <ion-item end>
    <ion-label floating>Month</ion-label>
    <ion-input [(ngModel)]="profile.month"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Day</ion-label>
    <ion-input [(ngModel)]="profile.day"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Postal Address</ion-label>
    <ion-input [(ngModel)]="profile.postaladdress"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Postal Code</ion-label>
    <ion-input [(ngModel)]="profile.postalcode"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Country</ion-label>
    <ion-input [(ngModel)]="profile.country"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Town</ion-label>
    <ion-input [(ngModel)]="profile.town"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Land Mark</ion-label>
    <ion-input [(ngModel)]="profile.landmark"></ion-input>
  </ion-item>

  <button ion-button block clear (click)="createprofile()">Submit</button>


</ion-content>
