.textcenter{
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
    text-align: center;
    padding: 10px;
  }
  .textleft{
    text-overflow: inherit;
    font-size: 9px;
  
  }
  
  .headertext{
    overflow: inherit ;
    white-space: normal;
    text-align: center;
    font-size: 17px;
  }
  .justpadded{
    padding:10px;
  }
  
  .fontsizedate{
    font-size: 8px;
    text-overflow: inherit;
    padding-left: 10px;
  }
  
  .ion-item-padding{
    padding:1px;
  }
  .headertextpadded{
    overflow: inherit ;
    text-align: center;
    font-size: 17px;
    line-height: 2.4em;
  }