<ion-header>
  <ion-nav color="primary">
    <ion-title>Donate Today...</ion-title>
  </ion-nav>
</ion-header>


<ion-content class="mybackground">
<ion-card text-center>
  <h2>Thank you for Donating to TGNM</h2>
  <div class="item">
    <img src="../../assets/imgs/donate.jpg">
  </div>
</ion-card>
<ion-card>
  <ion-card>
  <ion-list text-center>
    <h3 class="headertextpadded">Mpesa Till Number:<br>Buy Goods</h3>
      <h1 style="color:#3da207"><strong> 664485</strong></h1>
    <hr/>
    <h3 class="headertextpadded">To donate with<br/><strong> Master Card, Visa Card or PayPal</strong><br/>
      Go to this link</h3>
      <ion-item text-center><a href="https://thegoodnewsmission.org/#give">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZTP6KS52S5D66">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="2" height="2">
    </a></ion-item>
  </ion-list>

    </ion-card>
</ion-card>





</ion-content>
