<ion-header>

  <ion-nav>
    <ion-title>Add Event</ion-title>
  </ion-nav>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Heading</ion-label>
    <ion-input [(ngModel)]="events.heading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Author Name</ion-label>
    <ion-input [(ngModel)]="events.authorname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Date</ion-label>
    <ion-input [(ngModel)]="events.date1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Time</ion-label>
        <ion-input [(ngModel)]="events.time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Content</ion-label>
    <ion-textarea #myInput id="myInput" rows="1" maxLength="10000" (keyup)="adjust()" [(ngModel)]="events.content"></ion-textarea>
  </ion-item>

  <button ion-button block clear (click)="createEvents()">Submit</button>


</ion-content>