.textcenter{
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
    text-align: center;
    padding: 10px;
  }
  .textleft{
    overflow: inherit;
      text-overflow: inherit;
    white-space: normal;
    text-align: left;
    line-height: 2.1em;
  
  }
  
  .headertext{
    overflow: inherit ;
    white-space: normal;
    text-align: center;
    font-size: 15px;
  }
  .justpadded{
    padding:10px;
  }
  