<ion-header>
  <ion-nav color="primary">
    <ion-title>Prayer Wall</ion-title>
  </ion-nav>
</ion-header>


<ion-content>
    <div>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/prayers.jpg"></ion-thumbnail>
    </div>

      <h2 class="headertext"><strong> Welcome to our Prayer wall</strong></h2>
        <p class="textcenter"> Kindly join other believers to pray for the prayer Items posted here below.
           You can also send a prayer request by clicking Here</p>





      <ion-item-group class="mybackground" style="padding-top:10px">
        <ion-item>
          <h2 class="headertext"><strong>Prayer Item List</strong></h2>
        </ion-item>
        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/love2.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>
        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/dating.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>

        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/love1.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>

        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/dating2.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>
        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/dating.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>

        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/dating3.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>

        <ion-card>
          <ion-item class="ion-item-padding">
              <ion-thumbnail item-start>
              <img src="../../assets/imgs/dating4.jpg">
              </ion-thumbnail>
                <h5 class="fontsizedate"> Moses Mwicigi </h5>
                <p class="fontsizedate">
                <span><ion-icon name="clock" color="primary"></ion-icon> 9:15PM</span></p>
                <p class="textleft">Pray for the restoration of my relationship with God.</p>
          </ion-item>
          <hr/>
                <p class="textleft">Please pray for God to help Bless our family. We are having a very hard
                time paying all our bills and to have money for meds and food. We work hard
                but have some very high bills to fix water line at our house. We are out of
                food and need to buy meds
                </p>
        </ion-card>
      </ion-item-group>
    </ion-content>
