.textleft{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
    text-align: left;
  }
  
  .headertext{
    overflow: inherit ;
    white-space: normal;
    text-align: center;
    font-size: 17px;
  }
  
    .mytextleft{text-align: left;
    }
  
    .mytextcenter{text-align: center;
    }
  
    .mybackground{
      background-color: #d49008;
    }
    .salutation{ padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .greetingstext{
      font-size: 11px;
      text-align: center;
      overflow: inherit ;
      text-overflow: inherit ;
  
    }
  .leftside{
    text-align: left;
  }
  
